body {

  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 300px 0px 200px 700px;
  background-color:#9c9f84;
}

p{
   font-size: 30px;
   font-weight: bold;
  font-family: Helvetica, Verdana;
}

ol, ul {
  padding-left: 30px;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  float: center;
}

.game-info {
  position: relative;
  bottom: 40px;
  right: 250px;
}

.game-moves{
 position: relative;
 bottom: 45px;
 left: 20px;
}
